<!DOCTYPE html>
<html lang="es">
<html>
<head>
    <title>Listar</title>
     <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>


<body>
 {% load static %}{%csrf_token%}
   <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
 <h2 style="background-color: #3d3b3b; height: 2em; color: white;">Bienvenido {{ usuario }}</h2>
 <div style="text-align: right;">
      <a href="logout" style="text-decoration: none; color: white">
 <button class="btn btn-warning"  name="cerrar_sesion">Cerrar sesión</button></a>
 </div>


 <div class="container" style="margin-bottom: 1em; margin-top: 1.5em;">
     <div class="row">
         <div class="col-md-12 search">

             <form method="POST" action="http://127.0.0.1:8000/barraBusqueda" id="busqueda" >
                 <div id="custom-search-input">
                     <div class="input-group col-md-12">
                         <input type="text" class="form-control" id="busqueda2" placeholder="Buscar Usuario" name="buscar">
                         <span class="input-group-list"></span>
                         <i class="icon icon-search"></i>
                         <button class="btn btn-success "id="buto" type="submit">Buscar</button>

                     </div>
                 </div>

             </form>
         </div>
     </div>
 </div>


<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Nombre</th>
      <th scope="col">Email</th>
      <th scope="col">Estado</th>
      <th scope="col">Rol</th>
      <th scope="col">Opción</th>
    </tr>
  </thead>
  <tbody>
    {% for prueba in prueba %}
    <tr>
      <td>{{ prueba.nombre  }}</td>
      <td>{{ prueba.email }}</td>
      <td>{{ prueba.estado }}</td>
      <td>{{ prueba.rol }}</td>
        <td>
            <div class="row">
                <div class="col-4 badge bg-success mr-2">
                    <a href="editar//{{ prueba.id }}" style="text-decoration: none; color: white">Editar<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
  <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
</svg></a>
                </div>
                <div class="col-4 badge bg-danger">
                    <a href="eliminar//{{prueba.id}}" style="text-decoration: none; color: white">Eliminar<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
  <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
</svg></a>
                </div>

            </div>



        </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
 <br>
 <br>
 <center><a href="usuario" class="btn btn-primary">agregar usuario</a></center>
    <pre class="col-sm-4" id="prep"></pre>


{#<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>#}
{#    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>#}
    <script type="text/javascript" src='{% static "js/jquery-3.6.0.min.js" %}'></script>
{#    <script type="text/javascript" src='{% static "js/index.js"%}'></script>#}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


</body>
</html>


